@import "main.css";

.borders {
    display: flex;
    flex-wrap: wrap;
}

.border-1, .border-2 {
    position: relative;
    width: 100%;
    height: 500px;
}

.border-1 .outer {
    z-index: 99;
    position: absolute;
    width: 300px;
    height: 300px;
    background: red;
    border-radius: 100%;
    border-left: 100px solid yellow;
    border-bottom: 100px solid darkseagreen;
    border-top: 100px solid red;
    border-right: 100px solid deepskyblue;
}
.border-1 .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50%;
}
.border-1 .outer:hover {
    animation: change 100ms linear infinite forwards;
    -o-animation: change 100ms linear infinite forwards;
    -moz-animation: change 100ms linear infinite forwards;
    -webkit-animation: change 100ms linear infinite forwards;
}
@keyframes change {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

.border-2 .outer {
    z-index: 99;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border-left: 100px solid deepskyblue;
    border-bottom: 100px solid darkseagreen;
    border-right: 100px solid deepskyblue;
}
.border-2 .inner {
    position: absolute;
    width: 102%;
    height: 130%;
    left: -1%;
    background: white;
    border-radius: 50%;
}

.outer .close {
    width: 50px;
    height: 50px;
    margin: 0 auto;

}
