
.output {
    height: 200px;
}

.read-btn {
    margin: auto;
    width: 100px;
    font-size: 16px;
    background-color: aqua;
    color: white;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}
.read-btn:hover {
    animation: change 5s ease-out forwards;
}
@keyframes change {
    0% {width: 100px}
    100% {width: 99%}
}

.text-img {
    margin: auto;
}
span {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: red;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), url("../../file/daoi-fan.jpg") repeat;
    background-size: 100px 100%;
    -webkit-background-clip: text;
}

