
.form {
    --new-x: 'output';
}

.form {
    width: 100%;
    border: 1px solid;
    padding: 20px;
}
.form label, .form details {
    margin: 20px;
    display: block;
}
.form output:after {
    margin: 20px;
    content: var(--new-x);
}
.down {
    display: block;
    all: initial;
    width: 200px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 4px;
    font-size: 12px;
}
.down:focus {
    font-size: 16px !important; /* 使后面的32px无效 */
}
.down:focus {
    font-size: 32px;
}
.download {
    display: block;
    text-underline: none;
}

label a {
    text-decoration: none;
}

.details span {
    line-height: 2;
    display: inline-block;
    text-indent: 1em;
}
.details .details {
    margin-top: 0;
}
summary:hover {
    cursor: pointer;
}
summary:focus {
    outline: none;
}


div[id='data-test'], div[id='data-testt'] {
    background: gray;
}
div[data-content='this is data content'] {
    color: aqua;
}
div[data-content-change='change content'] {
    color: blue;
}
div[data-content-change='changed'] {
    color: yellow;
}

.cursor-hide {
    display: block;
    height: 50px;
    font-size: 20px;
    line-height: 2.5;
    border: 1px solid;
    background-color: darkgray;
    text-align: center;
}
.cursor-hide:hover {
    cursor: none;
}

.text-area {
    outline: none;
    border: 1px solid darkgray;
    border-radius: 4px;
    color: aqua;
    font-size: 2vh;
}






.out-div {
    width: 200px;
    height: 200px;
    margin: 50px;
    background-color: darkgray;
}
.inner-div {
    width: 50px;
    height: 50px;
    background-color: aqua;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
#change-size {
    margin: 0 0 0 50px;
}



.out-body {
    color: aqua;
}
